// Mixin
@mixin title-shadow {
    text-shadow: 0.5rem 0.5rem black;
}

// Code
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body * { /*il sert a prendre en compte la bordure et le remplissage dans la valeur définie pour la largeur et la hauteur*/
    box-sizing: border-box;
}

a { /* pour empecher les liens hypertexte de devenir violet et souligné */
    color: white;
    text-decoration: none;
}

header {
    color: white;
    width: 100%;
    background: #283c86;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #45a247, #283c86);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #45a247, #283c86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar {
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    a {
        margin-left: 10px;
    }
    &__text {
        font-size: 1.3em;
        @include title-shadow;
    }
    
    &__link--margginright {
        margin-right: 50px;
    }    
}



footer {
    background: #283c86;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #45a247, #283c86);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #45a247, #283c86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__content {
        margin-left: 40px;
        color: white;
    
        p {
            margin-bottom: 0;
            margin-top: 0;
        }
    }
    
    &__logo a {
        margin-right: 20px;
        color: white;
    }
}

